@model User
@{
    ViewBag.Title = "教育经历";
}
<div class="modal fade" id="modalAddEducation" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="ajax-add-form" asp-action="EducationAdd" asp-controller="Account" asp-route-id="@Model.Id" method="post">
                <input postUrl="/Account/Education/@Model.Id/Add" getUrl="/AjaxView/EducationTbody" modalId="modalAddEducation" name="id" type="hidden" value="@Model.Id"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加教育经历</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>学校 *</label>
                        <input type="text" name="School" class="form-control" required />
                    </p>
                    <p>
                        <label>专业</label>
                        <input type="text" name="Profession" class="form-control" required />
                    </p>
                    <p>
                        <label>入学时间 *</label>
                        <input type="text" name="Begin" class="datetime form-control" required />
                    </p>
                    <p>
                        <label>毕业时间 (未毕业请留空)</label>
                        <input type="text" name="End" class="datetime form-control" />
                    </p>
                    <p>
                        <label>学习内容</label>
                        <div class="markdown-editor-outer">
                            <textarea class="textbox markdown-editor" name="Hint"></textarea>
                            <div class="markdown-editor-bottom">支持Markdown语法、拖拽图片文件至编辑区或直接从剪贴板粘贴可上传图片文件。</div>
                        </div>
                    </p>
                    <span id="ajax-error-message"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:ajaxSubmit()">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditEducation" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            
        </div>
    </div>
</div>
@Html.Partial("~/Views/Default/Account/Header.cshtml")
<link href="~/assets/default/styles/datetimepicker.css" rel="stylesheet" />
<script src="~/assets/default/scripts/jquery.datetimepicker.js"></script>
<script src="~/assets/default/scripts/ajax.js"></script>
<div class="container page-container vertical-center">
    <div class="row">
        <div class="col-md-9">
            <h2>教育经历 <a class="button-adding" href="javascript:$('#modalAddEducation').modal();">添加</a></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>学校名称</th>
                        <th>专业</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="ajaxTbody">
                    @foreach (var x in Model.Educations.OrderByDescending(x => x.Begin))
                    {
                        <tr id="@x.Id">
                            <td>@x.School</td>
                            <td>@x.Profession</td>
                            <td>@x.Begin.ToString("yyyy-MM-dd") ~ @(x.End.HasValue ? x.End.Value.ToString("yyyy-MM-dd") : "至今")</td>
                            <td >
                                <a href="javascript:void(0)" class="ajax-edit" editUrl="/Account/Education/@Model.Id/Edit/@x.Id" modalId="modalEditEducation">编辑教育经历</a>
                                <a href="javascript:deleteDialog('/Account/EducationDelete','@Model.Id','@x.Id')">删除教育经历</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("~/Views/Default/Account/Sidebar.cshtml")
        <form id="frmDelete" asp-action="EducationDelete" asp-controller="Account" asp-route-id="@Model.Id"><input type="hidden" name="eid" id="deleteId" /></form>
        <script>
            function deleteEducation(id) {
                $('#deleteId').val(id);
                $('#frmDelete').submit();
            }
        </script>
    </div>
</div>