@model User
@{
    ViewBag.Title = "我的项目";
}

<div class="modal fade" id="modalAddProject" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="ajax-add-form" asp-action="ProjectAdd" asp-controller="Account" asp-route-id="@Model.Id" method="post">
                <input postUrl="/Account/Project/@Model.Id/Add" getUrl="/AjaxView/ProjectTbody" modalId="modalAddProject" name="id" type="hidden" value="@Model.Id"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加项目</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>项目名称 *</label>
                        <input type="text" name="title" class="form-control" required>
                    </p>
                    <p>
                        <label>担任角色 *</label>
                        <input type="text" name="position" class="form-control" required>
                    </p>
                    <p>
                        <label>项目链接</label>
                        <input type="text" name="projecturl" class="form-control">
                    </p>
                    <p>
                        <label>更新方式 *</label>
                        <br />
                        <select class="form-control" name="update" id="lstUpdate">
                            <option>自动更新</option>
                            <option>手动更新</option>
                        </select>
                    </p>
                    <p class="auto-update">
                        <label>Git 源 *</label>
                        <input type="text" name="ThirdPartyUrl" class="form-control">
                    </p>
                    <p class="manual-update">
                        <label>项目开始时间 *</label>
                        <input type="text" name="begin" class="datetime form-control">
                    </p>
                    <p class="manual-update">
                        <label>项目结束时间 (不填表示至今)</label>
                        <input type="text" name="end" class="datetime form-control">
                    </p>
                    <div class="manual-update">
                        <label>项目简介</label>
                        <br />
                        <div class="markdown-editor-outer">
                            <textarea class="textbox markdown-editor" name="hint"></textarea>
                            <div class="markdown-editor-bottom">支持Markdown语法、拖拽图片文件至编辑区或直接从剪贴板粘贴可上传图片文件。</div>
                        </div>
                    </div>
                    <span id="ajax-error-message"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:ajaxSubmit()">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditProject" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            
        </div>
    </div>
</div>

@Html.Partial("~/Templates/Default/Account/Header.cshtml")
<link href="~/assets/default/styles/datetimepicker.css" rel="stylesheet" />
<script src="~/assets/default/scripts/jquery.datetimepicker.js"></script>
<script src="~/assets/default/scripts/ajax.js"></script>
<div class="container page-container vertical-center">
    <div class="row">
        <div class="col-md-9">
            <h2>我的项目 <a class="button-adding" href="javascript:$('#modalAddProject').modal();">添加</a></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>更新类型</th>
                        <th>最后更新</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="ajaxTbody">
                    @foreach (var x in Model.Projects)
                    {
                        <tr id="@x.Id">
                            <td>@x.Title</td>
                            <td>
                                @if (x.Type == CommunityType.None)
                                {
                                    <span class="label label-info">手动更新</span>
                                }
                                else
                                {
                                    <span class="label label-success">自动更新</span>
                                }
                            </td>
                            <td>@(x.Verified ? x.LastPullTime.ToString("yyyy-MM-dd") : x.LastEditTime.ToString("yyyy-MM-dd"))</td>
                            <td>
                                <a href="javascript:void(0)" class="ajax-edit" editUrl="/Account/Project/@Model.Id/Edit/@x.Id" modalId="modalEditProject">编辑项目</a>
                                <a href="javascript:deleteDialog('/Account/ProjectDelete','@Model.Id','@x.Id')" >删除项目</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </div>
        @Html.Partial("~/Templates/Default/Account/Sidebar.cshtml")
        <form id="frmDelete" asp-action="ProjectDelete" asp-controller="Account" asp-route-id="@Model.Id"><input type="hidden" name="pid" id="deleteId" /></form>
        <script>
            function deleteProject(id)
            {
                $('#deleteId').val(id);
                $('#frmDelete').submit();
            }

            function updateChanged()
            {
                if ($('#lstUpdate').val() == "手动更新") {
                    $('.auto-update').hide();
                    $('.manual-update').show();
                } else {
                    $('.auto-update').show();
                    $('.manual-update').hide();
                }
            }

            $('#lstUpdate').change(function () {
                updateChanged();
            });

            updateChanged();
        </script>
    </div>
</div>