@model User
@{
    ViewBag.Title = "我的技能";
}
<div class="modal fade" id="modalAddSkill" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="ajax-add-form" asp-action="SkillAdd" asp-controller="Account" asp-route-id="@Model.Id" method="post">
                <input postUrl="/Account/Skill/@Model.Id/Add" getUrl="/AjaxView/SkillTbody" modalId="modalAddSkill" name="id" type="hidden" value="@Model.Id"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加技能</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>技能 *</label>
                        <input type="text" name="Title" class="form-control" required />
                    </p>
                    <p>
                        <label>类型 *</label>
                        <select name="Type" class="form-control">
                            @foreach (var x in Enum.GetNames(typeof(TechnologyType)))
                            { 
                                <option>@x</option>
                            }
                        </select>
                    </p>
                    <p>
                        <label>开始使用时间 *</label>
                        <input type="text" name="Begin" class="datetime form-control" required />
                    </p>
                    <p>
                        <label>用量 *</label>
                        <input type="text" name="Count" class="form-control" required />
                    </p>
                    <p>
                        <label>单位 *</label>
                        <input type="text" name="Unit" class="form-control" required />
                    </p>
                    <span id="ajax-error-message"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:ajaxSubmit()">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditSkill" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            
        </div>
    </div>
</div>
@Html.Partial("~/Views/Default/Account/Header.cshtml")
<link href="~/assets/default/styles/datetimepicker.css" rel="stylesheet" />
<script src="~/assets/default/scripts/jquery.datetimepicker.js"></script>
<script src="~/assets/default/scripts/ajax.js"></script>
<div class="container page-container vertical-center">
    <div class="row">
        <div class="col-md-9">
            <h2>我的技能 <a class="button-adding" href="javascript:$('#modalAddSkill').modal();">添加</a></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>技能</th>
                        <th>类型</th>
                        <th>统计</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="ajaxTbody">
                    @foreach (var x in Model.Skills.OrderBy(x => x.Begin))
                    {
                        <tr id="@x.Id">
                            <td>@x.Title</td>
                            <td>@x.Type</td>
                            <td>@x.Count.ToSplitedString() @x.Unit</td>
                            <td>@x.Display</td>
                            <td>
                                <a href="javascript:void(0)" class="ajax-edit" editUrl="/Account/Skill/@Model.Id/Edit/@x.Id" modalId="modalEditSkill">编辑技能</a>
                                <a href="javascript:deleteDialog('/Account/SkillDelete','@Model.Id','@x.Id')" >删除技能</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("~/Views/Default/Account/Sidebar.cshtml")
        <form id="frmDelete" asp-action="SkillDelete" asp-controller="Account" asp-route-id="@Model.Id"><input type="hidden" name="sid" id="deleteId" /></form>
        <script>
            function deleteSkill(id) {
                $('#deleteId').val(id);
                $('#frmDelete').submit();
            }
        </script>
    </div>
</div>