@model User
@{
    Layout=null;
    ViewBag.Title = "编辑项目";
}
<form id="ajax-edit-form" asp-action="SkillEdit" asp-controller="Account" asp-route-id="@Model.Id" method="post">
                <input name="id" type="hidden" value="@Model.Id" getUrl="/AjaxView/SkillTbody"/>
                <input name="gid" type="hidden" value="@ViewBag.Skill.Id"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑技能</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>技能 *</label>
                        <input type="text" name="Title" class="form-control" value="@ViewBag.Skill.Title" required />
                    </p>
                    <p>
                        <label>类型 *</label>
                        <select name="Type" class="form-control">
                            @foreach (var x in Enum.GetNames(typeof(TechnologyType)))
                            { 
                                <option>@x</option>
                            }
                        </select>
                    </p>
                    <p>
                        <label>开始使用时间 *</label>
                        <input type="text" name="Begin" class="datetime form-control" value="@ViewBag.Skill.Begin" required />
                    </p>
                    <p>
                        <label>用量 *</label>
                        <input type="text" name="Count" class="form-control" value="@ViewBag.Skill.Count" required />
                    </p>
                    <p>
                        <label>单位 *</label>
                        <input type="text" name="Unit" class="form-control" value="@ViewBag.Skill.Unit" required />
                    </p>
                    <span id="ajax-error-message"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:editSubmit()">编辑</button>
                </div>
            </form>
<link href="~/assets/default/styles/datetimepicker.css" rel="stylesheet" />
<script src="~/assets/default/scripts/jquery.datetimepicker.js"></script>