@model User
@{
    ViewBag.Title = Model.Name;
    var Colors = new string[]
    {
        "rgb(124, 175, 0)",
        "rgb(168, 211, 36)",
        "rgb(22, 165, 215)",
        "rgb(22, 165, 215)",
        "rgb(73, 124, 240)",
        "rgb(152, 118, 252)",
        "rgb(240, 73, 73)",
        "rgb(255, 143, 69)",
        "rgb(249, 196, 54)"
    };
    var ProgrammingSkills = Model.Skills.Where(x => x.Type == TechnologyType.编程语言).ToList();
    var FrameworkSkills = Model.Skills.Where(x => x.Type != TechnologyType.编程语言).ToList();
    var Experiences = Model.Experiences.OrderByDescending(x => x.End).ToList();
    var Educations = Model.Educations.OrderByDescending(x => x.End).ToList();
    var Projects = Model.Projects.Where(x => x.Verified && x.Commits.Count > 0 || !x.Verified).OrderByDescending(x => x.Begin).ToList();
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - 个人简历</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="stylesheet" href="~/assets/metro/styles/style.css">
    <link rel="stylesheet" href="~/assets/metro/styles/responsive.css">
    <link rel="stylesheet" href="~/assets/metro/styles/prettyPhoto.css">
    <script src="~/assets/metro/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/assets/metro/scripts/jquery.tools.min.js"></script>
    <script src="~/assets/metro/scripts/jquery.easing.js"></script>
    <script src="~/assets/metro/scripts/jquery.isotope.min.js"></script>
    <script src="~/assets/metro/scripts/main.js"></script>
    <script src="~/assets/metro/scripts/jquery.prettyPhoto.js"></script>
    <script src="~/assets/metro/scripts/modernizr.min.js"></script>
    <script src="~/assets/metro/scripts/chart.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lrMh687iqexo2F4V9bMYLmbX"></script>
    <!--[if lt IE 9]>
        <script src="/assets/metro/scripts/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page">
        <header id="header">
            <ul id="nav_tabs">
                <li class="splash">
                    <a href="#splash">
                        <div id="profile_photo">
                            <img src="/file/download/@Model.AvatarId" height="150" width="150" alt="Title Example">
                        </div>
                        <div id="profile_name">
                            <div id="author_name">
                                <div class="profile_inner">
                                    <!-- You can edit name and lastname -->
                                    <div class="name">@Model.Name</div>
                                    <div class="position">@Model.Position</div>
                                    <div class="pos">@(DateTime.Now.Year - Model.Birthday.Year)岁 @Model.Province @Model.City</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="profile"><a href="#profile"><span class="icon">a</span></a></li>
                <li class="portfolio"><a href="#portfolio"><span class="icon">b</span></a></li>
                <li class="contacts"><a href="#contacts"><span class="icon">c</span></a></li>
            </ul>
        </header><!-- /Header -->
        <div id="main">
            <div id="tab_section">
                <div id="splash" class="tab_content">
                    <!-- Main page -->
                    <div class="author_info">
                        <div class="user_desc">@Html.Sanitize(Html.Marked(Model.Introduction).ToString())</div>
                        <div class="phone_num">
                            <span class="icon"></span>
                            <span class="phone">@Model.PhoneNumber</span>
                        </div>
                        <div class="addition">
                            <span class="email"><a class="__cf_email__" href="mailto:@Model.Email">@Model.Email</a></span>
                            @if (!string.IsNullOrWhiteSpace(Model.BlogUrl))
                            {
                                <span class="website"><a href="@Model.BlogUrl">@Model.BlogUrl</a></span>
                            }
                        </div>
                    </div>
                    <div class="social_links">
                        <ul>
                            <li><a href="#" class="icon1"><span>0</span></a></li>
                            <li><a href="#" class="icon2"><span>1</span></a></li>
                            <li><a href="#" class="icon3"><span>3</span></a></li>
                            <li><a href="#" class="icon4"><span>p</span></a></li>
                        </ul>
                    </div>
                </div><!-- /Main Page -->
                <div id="resume" class="tab_content">
                    <!-- Resume Section -->
                    <div class="section-header opened">
                        <a href="#" class="section_toggle"><span><img src="~/assets/metro/images/section_toggle.png" height="78" width="48" alt=""></span></a>
                        <h2 class="section-title icon2">
                            <span class="icon category1"></span>
                            工作经历
                        </h2>
                    </div>
                    <div class="section-content">
                        @for (var i = 0; i < Experiences.Count; i++)
                        {
                            <article class="post resume_post first @(i % 2 == 0 ?"odd":"even")">
                                <div class="resume_period category1">
                                    <span class="period_from">@Experiences.ElementAt(i).Begin.ToString("yyyy/MM")</span>
                                    <div class="period_to">@(Experiences.ElementAt(i).End.HasValue ? Experiences.ElementAt(i).End.Value.ToString("yyyy/MM") : "至今")</div>
                                </div>
                                <div class="extra_wrap">
                                    <div class="resume_header">
                                        <h4 class="post_title">
                                            <span class="post_title_icon category1 icon2"></span>
                                            @Experiences.ElementAt(i).Company
                                        </h4>
                                        <h5 class="resume_position category1">
                                            <span class="icon icon2"></span>
                                            @Experiences.ElementAt(i).Position
                                        </h5>
                                    </div>
                                    <div class="resume_content">
                                        @Html.Sanitize(Html.Marked(Experiences.ElementAt(i).Hint).ToString())
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                    <div class="section-header opened">
                        <a href="#" class="section_toggle"><span><img src="~/assets/metro/images/section_toggle.png" height="78" width="48" alt=""></span></a>
                        <h2 class="section-title icon2">
                            <span class="icon category2"></span>
                            教育经历
                        </h2>
                    </div>
                    <div class="section-content">
                        <!-- Resume Post -->
                        @for (var i = 0; i < Educations.Count; i++)
                        {
                            <article class="post resume_post @(i%2 == 0 ? "odd":"even")">
                                <div class="resume_period category2">
                                    <span class="period_from">@Educations.ElementAt(i).Begin.ToString("yyyy/MM")</span>
                                    <div class="period_to">@(Educations.ElementAt(i).End.HasValue? Educations.ElementAt(i).End.Value.ToString("yyyy/MM") : "至今")</div>
                                </div>
                                <div class="extra_wrap">
                                    <div class="resume_header">
                                        <h4 class="post_title">
                                            <span class="post_title_icon category2 icon3"></span>
                                            @Educations.ElementAt(i).School
                                        </h4>
                                        <h5 class="resume_position category2">
                                            <span class="icon icon2"></span>
                                            @Educations.ElementAt(i).Profession
                                        </h5>
                                    </div>
                                    @if (!string.IsNullOrWhiteSpace(Educations.ElementAt(i).Hint))
                                    {
                                        <div class="resume_content">
                                            @Html.Sanitize(Html.Marked(Educations.ElementAt(i).Hint).ToString())
                                        </div>
                                    }
                                </div>
                            </article>
                        }
                    </div>
                    <div class="section-header widgets_section opened">
                        <a href="#" class="section_toggle"><span><img src="~/assets/metro/images/section_toggle.png" height="78" width="48" alt=""></span></a>
                        <h2 class="section-title icon2">
                            <span class="icon"></span>
                            我的技能
                        </h2>
                    </div>
                    <div class="skills_sidebar_section">
                        <!-- Skills widget -->
                        <aside class="widget-even widget widget_skills">
                            <h3 class="widget_title">编程语言技能</h3>
                            <div class="widget_inner">
                                @{ var j = 0; }
                                @foreach (var x in ProgrammingSkills.Where(x => x.Type == TechnologyType.编程语言 || x.Type == TechnologyType.序列化格式).OrderByDescending(x => x.TotalDays))
                                {
                                    <div class="skills_row @(j == 0 ? "odd first" : "even")">
                                        <span class="progressbar">
                                            <span class="progress" style="background-color: @Colors[j % Colors.Length]">
                                                <span class="caption_wrap">
                                                    <span class="caption">@x.Title / @x.Display / @x.Count.ToSplitedString() 行</span>
                                                    <span class="value percent-hidden">@Html.PercentP(x.TotalDays)</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                    { j++; }
                                }
                            </div>
                        </aside>
                        <!-- /Skills widget -->
                        <!-- Skills widget -->
                        <aside class="widget-odd widget widget_skills">
                            <h3 class="widget_title">其他技能</h3>
                            <div class="widget_inner">
                                @{ j = 0; }
                                @foreach (var x in ProgrammingSkills.Where(x => x.Type != TechnologyType.编程语言 && x.Type != TechnologyType.序列化格式).OrderByDescending(x => x.TotalDays))
                                {
                                    <div class="skills_row @(j == 0 ? "odd first" : "even")">
                                        <span class="progressbar">
                                            <span class="progress" style="background-color: @Colors[j % Colors.Length]">
                                                <span class="caption_wrap">
                                                    <span class="caption">@x.Title / @x.Display / @x.Count.ToSplitedString() 行</span>
                                                    <span class="value percent-hidden">@Html.PercentP(x.TotalDays)</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                    { j++; }
                                }                            
                            </div>
                        </aside>
                        <!-- /Skills widget -->
                    </div>
                    <div class="resume_buttons">
                        <a href="#" class="button_link download"><span>Download</span></a>
                        <a href="print.html" class="button_link"><span>Print</span></a>
                    </div>
                </div><!-- /Resume Section -->

                <div id="portfolio" class="tab_content">
                    <div class="section-header opened">
                        <a href="#" class="section_toggle"><span><img src="~/assets/metro/images/section_toggle.png" height="78" width="48" alt=""></span></a>
                        <h2 class="section-title icon2">
                            <span class="icon category1"></span>
                            我的项目
                        </h2>
                    </div>
                    <div class="section-content">
                        @for (var i = 0; i < Projects.Count; i++)
                        {
                            <article class="post resume_post first @(i % 2 == 0 ?"odd":"even")">
                                <div class="resume_period category1">
                                    <span class="period_from">@Projects.ElementAt(i).Begin.ToString("yyyy/MM")</span>
                                    <div class="period_to">@(Projects.ElementAt(i).End.HasValue ? Experiences.ElementAt(i).End.Value.ToString("yyyy/MM") : "至今")</div>
                                </div>
                                <div class="extra_wrap">
                                    <div class="resume_header">
                                        <h4 class="post_title">
                                            <span class="post_title_icon category1 icon2"></span>
                                            @Projects.ElementAt(i).Title
                                        </h4>
                                        <h5 class="resume_position category1">
                                            <span class="icon icon2"></span>
                                            @Projects.ElementAt(i).Position
                                        </h5>
                                    </div>
                                    <div class="resume_content">
                                        @if (Projects.ElementAt(i).Verified && Projects.ElementAt(i).Commits.Count > 0)
                                        {
                                            <canvas id="radar-@Projects.ElementAt(i).Id" width="450" height="350"></canvas>
                                            <script>
                                                new Chart(document.getElementById("radar-@Projects.ElementAt(i).Id").getContext("2d")).Radar(@Html.ProjectRadar(Projects.ElementAt(i)), { animation: Modernizr.canvas });
                                            </script>
                                        }
                                        @Html.Sanitize(Html.Marked(Projects.ElementAt(i).Hint).ToString())
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                    <div class="resume_buttons">
                        <a href="#" class="button_link download"><span>Download</span></a>
                        <a href="print.html" class="button_link"><span>Print</span></a>
                    </div>
                </div><!-- /Portfolio Section -->

                <div id="contacts" class="tab_content">
                    <!-- Contacts Section -->
                    <div class="map_wrap">
                        <div class="map_overlay"></div>
                        <div class="address_block">
                            @(Model.Province)@(Model.City)@(Model.Address)
                        </div>
                        <div id="bmap" style="width:100%; height:300px;"></div>
                    </div>
                    <div class="contacts_wrapper">
                        <div class="col1">
                            <div class="phone_num">
                                <span class="icon"></span>
                                <span class="phone">@Model.PhoneNumber</span>
                            </div>
                            <div class="addition">
                                <span class="email"><a class="__cf_email__" href="mailto:@Model.Email">@Model.Email</a></span>
                                @if (!string.IsNullOrWhiteSpace(Model.BlogUrl))
                                {
                                    <span class="website"><a href="@Model.BlogUrl">@Model.BlogUrl</a></span>
                                }
                            </div>
                            <div class="qrcode_vcard">
                                <h3 class="vcard_title">Vcard</h3>
                                <div class="vcard_inner">
                                    <div class="qrcode">
                                        <!-- To generate your own QR-code, you can use http://goqr.me/ -->
                                        <img src="~/assets/metro/images/qr.png" height="150" width="150" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="inner">
                                <div class="contact_form">
                                    <h3 class="title">与我联系</h3>
                                    <form id="contact_form" mathod="post">
                                        <div class="field">
                                            <label class="required" for="contact_form_username">姓名</label>
                                            <input id="contact_form_username" type="text" name="username">
                                        </div>
                                        <div class="field">
                                            <label class="required" for="contact_form_email">电子邮箱</label>
                                            <input id="contact_form_email" type="text" name="email">
                                        </div>
                                        <div class="field message">
                                            <label class="required" for="contact_form_message">内容</label>
                                            <textarea id="contact_form_message" name="message"></textarea>
                                        </div>
                                        <div class="button">
                                            <a href="#" class="enter"><span>发送</span></a>
                                            <div class="req"></div>
                                        </div>
                                        <div class="result"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /Contacts Section -->

            </div>
        </div><!-- /Main -->
        <footer id="footer">
            <a href="#" id="toTop"></a>
            <div class="footer_copyright">
                Copyright &copy; 2016 Mano Cloud - Harbin Code Comb Technology Co., Ltd.
            </div>
        </footer>
    </div><!--/Page-->

    <script type="text/javascript">
        var map;
        $(document).ready(function(){
            map = new BMap.Map("bmap");
            var pt = new BMap.Point(@Model.Lon, @Model.Lat);
            setTimeout(function(){
                map.centerAndZoom(new BMap.Point(@Model.Lon, @Model.Lat), 16);
                var icon = new BMap.Icon('/assets/metro/images/spotlight-poi_hdpi.png', new BMap.Size(44, 80), { imageSize: new BMap.Size(22,40),anchor: new BMap.Size(11, 40) });
                var marker = new BMap.Marker(pt, { icon: icon });
                map.addOverlay(marker);
            }, 4000);
        });
    </script>
</body>
</html>