 @model User
 @{
    Layout=null;
}
 @foreach (var x in Model.Experiences.OrderByDescending(x => x.Begin))
                    {
                        <tr id="@x.Id">
                            <td>@x.Company</td>
                            <td>@x.Position</td>
                            <td>@x.Begin.ToString("yyyy-MM-dd") ~ @(x.End.HasValue ? x.End.Value.ToString("yyyy-MM-dd") : "至今")</td>
                            <td>
                                <a href="javascript:void(0)" class="ajax-edit" editUrl="/Account/Experience/@Model.Id/Edit/@x.Id" modalId="modalEditExperience">编辑工作经历</a>
                                <a href="javascript:deleteDialog('/Account/ExperienceDelete','@Model.Id','@x.Id')">删除工作经历</a>
                            </td>
                        </tr>
                    }
<script src="~/assets/default/scripts/ajax.js"></script>