@model User
@{
    Layout=null;
}
@foreach (var x in Model.Certifications.OrderByDescending(x => x.AchieveTime))
                    {
                        <tr id="@x.Id">
                            <td>@x.Title</td>
                            <td>@x.Number</td>
                            <td>@x.AchieveTime.ToString("yyyy-MM-dd")</td>
                            <td>
                                <a target="_blank" href="/file/download/@x.CertId">查看证书</a>
                               <a href="javascript:deleteDialog('/Account/CertificationDelete','@Model.Id','@x.Id')">删除证书</a>
                            </td>
                        </tr>
                    }
<script src="~/assets/default/scripts/ajax.js"></script>