@model User
@{
    ViewBag.Title = "我的证书";
}
<div class="modal fade" id="modalAddExperience" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="ExperienceAdd" asp-controller="Account" asp-route-id="@Model.Id" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加证书</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>证书名称 *</label>
                        <input type="text" name="Title" class="form-control" required />
                    </p>
                    <p>
                        <label>证书编号</label>
                        <input type="text" name="Number" class="form-control" />
                    </p>
                    <p>
                        <label>获得时间 *</label>
                        <input type="text" name="AchieveTime" class="datetime form-control" required />
                    </p>
                    <p>
                        <label>证书照片</label>
                        <input type="file" name="Certification" class="form-control" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Templates/Default/Account/Header.cshtml")
<link href="~/assets/default/styles/datetimepicker.css" rel="stylesheet" />
<script src="~/assets/default/scripts/jquery.datetimepicker.js"></script>
<div class="container page-container vertical-center">
    <div class="row">
        <div class="col-md-9">
            <h2>我的证书 <a class="button-adding" href="javascript:$('#modalAddExperience').modal();">添加</a></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>证书名称</th>
                        <th>证书编号</th>
                        <th>获得时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Certifications.OrderByDescending(x => x.AchieveTime))
                    {
                        <tr>
                            <td>@x.Title</td>
                            <td>@x.Number</td>
                            <td>@x.AchieveTime.ToString("yyyy-MM-dd")</td>
                            <td>
                                <a target="_blank" href="/file/download/@x.CertId">查看证书</a>
                                <a href="javascript:deleteExperience('@x.Id')">删除证书</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("~/Templates/Default/Account/Sidebar.cshtml")
        <form id="frmDelete" asp-action="ExperienceDelete" asp-controller="Account" asp-route-id="@Model.Id"><input type="hidden" name="eid" id="deleteId" /></form>
        <script>
            function deleteExperience(id) {
                $('#deleteId').val(id);
                $('#frmDelete').submit();
            }
        </script>
    </div>
</div>