@model User
@{
    ViewBag.Title = "工作经历";
}
<div class="modal fade" id="modalAddExperience" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="ajax-add-form" asp-action="ExperienceAdd" asp-controller="Account" asp-route-id="@Model.Id" method="post">
                <input postUrl="/Account/Experience/@Model.Id/Add" getUrl="/AjaxView/ExperienceTbody" modalId="modalAddExperience" name="id" type="hidden" value="@Model.Id"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加工作经历</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>工作单位 *</label>
                        <input type="text" name="Company" class="form-control" required />
                    </p>
                    <p>
                        <label>职务 *</label>
                        <input type="text" name="Position" class="form-control" required />
                    </p>
                    <p>
                        <label>就职时间 *</label>
                        <input type="text" name="Begin" class="datetime form-control" required />
                    </p>
                    <p>
                        <label>离职时间 (未离职请留空)</label>
                        <input type="text" name="End" class="datetime form-control" />
                    </p>
                    <p>
                        <label>工作简介</label>
                        <div class="markdown-editor-outer">
                            <textarea class="textbox markdown-editor" name="Hint"></textarea>
                            <div class="markdown-editor-bottom">支持Markdown语法、拖拽图片文件至编辑区或直接从剪贴板粘贴可上传图片文件。</div>
                        </div>
                    </p>
                    <span id="ajax-error-message"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:ajaxSubmit()">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditExperience" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            
        </div>
    </div>
</div>
@Html.Partial("~/Templates/Default/Account/Header.cshtml")
<link href="~/assets/default/styles/datetimepicker.css" rel="stylesheet" />
<script src="~/assets/default/scripts/jquery.datetimepicker.js"></script>
<script src="~/assets/default/scripts/ajax.js"></script>
<div class="container page-container vertical-center">
    <div class="row">
        <div class="col-md-9">
            <h2>工作经历 <a class="button-adding" href="javascript:$('#modalAddExperience').modal();">添加</a></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>工作单位</th>
                        <th>职务</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="ajaxTbody">
                    @foreach (var x in Model.Experiences.OrderByDescending(x => x.Begin))
                    {
                       <tr id="@x.Id">
                            <td>@x.Company</td>
                            <td>@x.Position</td>
                            <td>@x.Begin.ToString("yyyy-MM-dd") ~ @(x.End.HasValue ? x.End.Value.ToString("yyyy-MM-dd") : "至今")</td>
                            <td>
                                <a href="javascript:void(0)" class="ajax-edit" editUrl="/Account/Experience/@Model.Id/Edit/@x.Id" modalId="modalEditExperience">编辑工作经历</a>
                                <a href="javascript:deleteDialog('/Account/ExperienceDelete','@Model.Id','@x.Id')" >删除工作经历</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("~/Templates/Default/Account/Sidebar.cshtml")
        <form id="frmDelete" asp-action="ExperienceDelete" asp-controller="Account" asp-route-id="@Model.Id"><input type="hidden" name="eid" id="deleteId" /></form>
        <script>
            function deleteExperience(id) {
                $('#deleteId').val(id);
                $('#frmDelete').submit();
            }
        </script>
    </div>
</div>